* {
  

}
.container {
  display: flex;
  justify-content: center;
}
.arena {
  display: block;
}
.square {
  background-color: none;
  border-radius: 0;
  border: 1px solid black;
  font-size: 2rem;
  font-weight: 700;
}